[Unit]
Description=ActiveMQ

[Service]
Type=forking
Environment=JAVA_HOME=/usr/lib/jvm/java-1.7.0-openjdk
PIDFile=/opt/activemq/data/activemq.pid
ExecStart=/opt/activemq/bin/activemq start
ExecStop=/opt/activemq/bin/activemq stop

[Install]
WantedBy=multi-user.target

